$base-color: #353849;
$secondary-color: #34D0B2;
$accent-color:  #60FCA2;
$text-primary-color:  #FFFFFF;
$text-secondary-color:  #3F4354;
$text-accent-color: #7D7463;
$font-primary: 'Verdana', 'sans-serif';
$sencondary-weight: 200;
$radius: 5px;
$shadow-box:-15px 5px 35px $base-color;



