$base-color: #ADC4CE;
$secondary-color: #713ABE;
$accent-color: #C4C1A4;
$text-primary-color: white;
$text-secondary-color: black;
$text-accent-color: #7D7463;
$font-primary: "Comic Sans MS";
$sencondary-weight: 600;
$radius: 0px;
$shadow-box:10px 5px 5px $base-color;


